<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title Input Graph Data</title>
</head>
<body>
{% extends "template.html" %}
    {% block content %}
<h1> Enter Nodes</h1>

<form action="" method="POST">
    <label for="nodes">Nodes</label>
    <input type="text" name="nodes" value="1" id="nodes">
    <label for="edges">Edges</label>

    <input type="text" name="edges" value="1,1 1,1 1,1" id="edges">
    <label for="isDirected">Directed Graph?</label>

    <input type="text" name="isDirected" value="False" id="isDirected">
    <input type="submit" value="Create Graph">
</form>

<h2>Create Random</h2>
<form action="" method="POST">
    <label for="numNodes">Number Of Nodes</label>
    <input type="text" name="numNodes" id="numNodes">
    <label for="connectionProb">Connection Probability</label>
    <input type="text" name="connectionProb" id="connectionProb">

    <input type="submit" value="Create Graph">
</form>
{% endblock %}
</body>


</html>
